@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-backgorund{
    background-image: url('../public/banner/hero_banner.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slick-dots li.slick-active button:before {
    color: #F37920;
    font-size: 10px;
}

.slick-dots li button:before {
    color: #FFF;
    font-size: 10px;
    opacity: 1;
}